.root {

}

.label {
    -fx-text-alignment: center;
    -fx-font: 36 monospace;
    -fx-text-fill: white;
}

#label-empty {
    -fx-border-color: white;
}

#label-2 {
    -fx-background-color: #99CCFF;
}

#label-4 {
    -fx-background-color: #66CCFF;
}

#label-8 {
    -fx-background-color: #3399FF;
}

#label-16 {
    -fx-background-color: darkorchid;
}

#label-32 {
    -fx-background-color: turquoise;
}

#label-64 {
    -fx-background-color: #9999FF;
}

#label-128 {
    -fx-background-color: purple;
}

#label-256 {
    -fx-background-color: #0099CC;
}

#label-512 {
    -fx-background-color: mediumblue;
}

#label-1024 {
    -fx-background-color: #6600CC;
}

#label-2048 {
    -fx-background-color: #000099;
}